@font-face {
font-family: 'BebasRegular';
src: url('bebas___-webfont.eot');
src: local('☺'), url('bebas___-webfont.woff') format('woff'), url('bebas___-webfont.ttf') format('truetype'), url('bebas___-webfont.svg#webfontWP6hJhSP') format('svg');
font-weight: normal;
font-style: normal;
}

html {
background-color: rgba(194/207/201, 0.5);
}

body {
font-family: arial;
font-size: 0.9em;
line-height: 2;
color: #3c3c3c;
}

header {
height: 40px;
width: 100%;
}
#wrapper {
width: 80%;
margin: 10px auto 5px 5%;
}


#document {
width: 68%;
min-height: 400px;
margin: -29px 0px 0px 0px;
float: right;
}

#title {
background-color: rgba(237/235/230, 1);
height: 25px;
width: 100%;
max-width: 100%;
margin: 0px 0px 2px 0px;
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: rgba(64/59/51, 0.14);
line-height: 1.8;
color: rgba(64/59/51, 0.8);
padding: 5px;
font-size: 15px;
border-radius: 4px 4px 0px 0px;
-moz-border-radius: 4px 4px 0px 0px;
-webkit-border-radius: 4px 4px 0px 0px;
-o-border-radius: 4px 4px 0px 0px;
}
#title:focus {
outline: none;
}

#content {
background-color: rgba(237/235/230, 1);
min-height: 700px;
width: 100%;
max-width: 100%;
overflow: hidden;
margin-bottom: 20px;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: rgba(64/59/51, 0.14);
line-height: 1.8em;
color: rgba(64/59/51, 0.8);
padding: 5px;
border-radius: 0px 0px 4px 4px;
-moz-border-radius: 0px 0px 4px 4px;
-webkit-border-radius: 0px 0px 4px 4px;
-o-border-radius: 0px 0px 4px 4px;
}
#content:focus {
outline: none;
}

#document nav {
position: relative;
height: 30px;
width: 23%;
margin-left: 75%;
overflow: hidden;
}

#menuButtons {
margin-left: auto;
margin-right: auto;
border-collapse: separate;
border-spacing: 5px 0px;
}


#save {
}
#new {
}

.button {
font-size: 9px;
height: 40px;
width: 25px;
margin-top: 5px;
color: #ededed;
text-align: center;
font-family: arial;
padding: 5px;
letter-spacing: 2px;
line-height: 18px;
background: rgba(169/199/197, 1);
border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
-o-border-radius: 4px 4px 4px 4px;
}
.button:hover {
cursor: pointer;
height: 50px;
-webkit-transition: .25s ease;
-moz-transition: .25s ease;
-o-transition: .25s ease;
transition: .25s ease;
-webkit-transform: height(1.5);
-moz-transform: height(1.5);
-o-transform: height(1.5);
transform: height(1.5);
}



/* Twitter feed css START*/
aside {
position: relative;
width: 28%;
padding: 5px;
float: left;
margin-top: 2px;
margin-bottom: 20px;
margin-right: 10px;
min-height: 735px;
max-height: 735px;
overflow: hidden;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
background-color: rgba(255/255/255, 0.4);
}
aside p {
position: relative;
width: 96%;
margin: 0px 0px 5px 0px;
display: none;
padding: 2%;
font-size: 11px;
line-height: 22px;
border: 1px solid rgba(148/199/182, 0.1);
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
color: rgba(64/59/51, 1);
word-wrap: break-word;
}
aside p:hover {
cursor: pointer;
}
aside .activeStatus {
background-color: rgba(148/199/182, 0.2);
}
aside .activeStatus:hover {
background-color: rgba(110/178/179, 0.8);
}
aside .lockedStatus {
background-color: rgba(110/178/179, 0.8);
}
aside .lockedStatus:hover {
color: rgba(237/235/230, 1);
background-color: rgba(211/100/59, 0.8);
}
aside .transitionStatus {
background-color: rgba(148/199/182, 1);
width: 94.5%;
}
.queryHighlight {
color: rgba(211/100/59, 1);
}
#tagInput {
width: 96%;
padding: 2%;
height: 20px;
line-height: 20px;
font-size: 16px;
background-color: rgba(237/235/230, 1);
margin: 0px 0px 2px 0px;
color: rgba(64/59/51, 0.7);
border: 1px solid rgba(64/59/51, 0.1);
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
}
#tagInput:focus {
outline: none;
}
/* twitter feed css END*/


.prompt {
display: none;
position: fixed;
top: 0px;
left: 0px;
z-index: 9999;
width: 100%;
height: 100%;
padding: 5px;
background: -webkit-gradient(radial, center center, 0, center center, 700, from(rgba(100/100/100, 0.1)), to(rgba(20/20/20, 0.5)));
}
.prompt_message {
position: relative;
width: 300px;
margin: 100px auto 10px auto;
background: rgba(211/100/59, 0.96);
padding: 5px;
font-size: 12px;
color: rgba(237/235/230, 1);
border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
-o-border-radius: 4px 4px 4px 4px;
}
.prompt_message table {
border-collapse: separate;
border-spacing: 10px 0px;
margin: 5px auto 5px auto;
}
.prompt_message table td {
border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
-o-border-radius: 2px 2px 2px 2px;
width: 60px;
color: rgba(64/59/51, 0.6);
background: rgba(237/235/230, 0.85);
text-align: center;
}
.prompt_message table td:hover {
color: rgba(64/59/51, 0.6);
background: rgba(237/235/230, 0.95);
cursor: pointer;
}

#docbrowser{
	position: relative;
	margin: 100px auto 10px auto;
	width: 600px;
	font-size: 12px;
	border: 4px solid rgba(237/235/230, 1);
	background: rgba(230/228/223, 0.9);
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
}
#docbrowser table{
	width: 100%;
	border-collapse: separate;
}
#docbrowser table td{
	padding: 2px;
}
#docbrowser table tr:hover{
	cursor: pointer;
}
#docbrowser table tr:first-child{
	background: rgba(210/208/203, 0.9);
}
#docbrowser table tr td:first-child{
	width: 70%;
	border-right: 1px solid rgba(50/50/50, 0.1);
}









