html {
background-color: #D5E1DD
}

body{
	font-family: arial;
	font-size: 0.9em;
	line-height: 2;
	color: #3c3c3c;
}

#document {
width: 820px;
min-height: 400px;
margin-top: 60px;
margin-left: auto;
margin-right: auto;
}

#title {
background-color: #F7F3E8;
height: 25px;
width: 100%;
max-width: 100%;
margin-bottom: 10px;
border: 1px solid #cbcdcc;
line-height: 1.8;
color: #3c3c3c;
padding: 5px;
}
#title:focus {
outline: none;
}

#content {
background-color: #F7F3E8;
min-height: 700px;
width: 100%;
max-width: 100%;
overflow: hidden;
border: 1px solid #cbcdcc;
line-height: 2;
color: #3c3c3c;
padding: 5px;
}
#content:focus {
outline: none;
}
#menu {
height: 50px;
width: 100%;
position: fixed;
top: 0px;
background-color: #747E80;
overflow: hidden;
}
#menuButtons{
margin-left: auto;
margin-right: auto;
border-collapse: separate;
border-spacing: 10px 0px;
}


#save {
}
#new{
}

.button{
height: 30px;
width: 60px;
background-color: #77BED2;
border-radius: 3px;
margin-top: 10px;
color: #ededed;
text-align: center;
}
.button:hover{
background-color: #F2583E;
cursor: pointer;
}

#docBrowser{
position: fixed;
display: none;
max-height: 400px;
overflow: scroll;
width: 500px;
margin-top: 220px;
z-index: 20;
margin-top: 0px;
margin-left: 0px;
border-radius: 5px;
border: 5px solid white;
background: #f2f2f2;
-moz-box-shadow: 2px 2px 1px #888;
-webkit-box-shadow: 2px 2px 1px #888;
box-shadow: 2px 2px 1px #888;
}
#docBrowser table{
	border-collapse: separate;
	border-spacing: 0px 1px;
}
#docBrowser tr{
	width: 500px;
	font-size: 12px;
	background: #77BED2;
	color: #F7F3E8;
}
#docBrowser tr > td:first-child{
	width: 375px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#docBrowser tr > td:first-child + td{
	width: 115px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}
