@font-face {
	font-family: 'BebasRegular';
	src: url('bebas___-webfont.eot');
	src: local('☺'), url('bebas___-webfont.woff') format('woff'), url('bebas___-webfont.ttf') format('truetype'), url('bebas___-webfont.svg#webfontWP6hJhSP') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	background-color: rgba(194/207/201, 0.5);
}

body{
	font-family: arial;
	font-size: 0.9em;
	line-height: 2;
	color: #3c3c3c;
}

header{
  height: 65px;
  width: 100%;
  background: red;
}
#wrapper{
  width: 1050px;
  margin: 10px auto 5px auto;
}
aside{
  background: red;
  width: 320px;
  float: left;
  min-height: 400px;
}

#document {
	width: 720px;
	min-height: 400px;
  float: right;
}

#title {
	background-color: rgba(237/235/230, 1);
	height: 25px;
	width: 100%;
	max-width: 100%;
	margin: 0px 0px 2px 0px;
	border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #d3d3d3;
	line-height: 1.8;
	color: #3c3c3c;
	padding: 5px;
  font-size: 17px;
  border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
}
#title:focus {
	outline: none;
}

#content {
	background-color: rgba(237/235/230, 1);
	min-height: 700px;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #d3d3d3;
	line-height: 2;
	color: #3c3c3c;
	padding: 5px;
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
  
}
#content:focus {
	outline: none;
}

#menu {
  position: absolute;
	height: 40px;
	width: 15px;
  margin-left: 732px;
  border-left: 1px solid #9BC2BF;
	background: rgba(169/199/197, 1) url(../grphx/menuslider.png);
	overflow: hidden;
	-moz-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px;
}
#menu:hover{
  -webkit-transition: width .40s ease;
  -moz-transition: width .40s ease;
  -o-transition: width .40s ease;
  transition: width .40s ease;
  width: 200px;
  background: rgba(169/199/189, 1);
  -webkit-border-radius: 0px 2px 2px 0px;
  -o-border-radius: 0px 2px 2px 0px;
}
#menuButtons{
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
	border-spacing: 20px 0px;
	font-size: 11px;
}


#save {
}
#new{
}

.button{
	height: 32px;
	width: 32px;
	margin-top: 5px;
	color: #ededed;
	text-align: center;
	font-family: arial;
	letter-spacing: 2px;
	line-height: 30px;
}
.button:hover{
	cursor: pointer;
  font-weight: bold;
  -webkit-transition: .25s ease;
  -moz-transition: .25s ease;
  -o-transition: .25s ease;
  transition: .25s ease;
	-webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}



