@font-face {
font-family: 'BebasRegular';
src: url('bebas___-webfont.eot');
src: local('☺'), url('bebas___-webfont.woff') format('woff'), url('bebas___-webfont.ttf') format('truetype'), url('bebas___-webfont.svg#webfontWP6hJhSP') format('svg');
font-weight: normal;
font-style: normal;
}

html{
	background: none;
}

h1{
	font-size: 22px;
	font-family: 'BebasRegular';
	letter-spacing: 1px;
}
h2{
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}
p {
	font-size: 12px;
}